<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid" style="margin-top:16px;">
  <a routerLink="/profile/Muhanad">
    <img src="assets/img/logo.png" width="32px" height="32px" style="margin-left: 16px;margin-bottom: 12px;background-color: #54a0b5">
    <p style="margin-top: 12px ;display:inline-block ;font-size: 32px;-webkit-text-fill-color:#54a0b5 ">mt7ny</p>
  </a>
  <i class="fa fa-user-circle" aria-hidden="true" routerLink="/profile/Muhanad" id="profileIcon" title="My profile"></i>
  <button class="btn btn-light" id="logOut">تسجيل الخروج</button>
  <hr>
</div>
<br><br><br>
<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-md-4">
      <h2 style="-webkit-text-fill-color: #54a0b5">الطالب</h2>
    </div>
    <div class="col-md-4">
      <h2 style="-webkit-text-fill-color: #54a0b5">تصحيح الامتحان</h2>
    </div>
    <div class="col-md-4">
      <h2 style="-webkit-text-fill-color: #54a0b5">الدرجة</h2>
    </div>
  </div>
  <div class="row" style="margin-top:32px;">
    <div class="col-md-4">
      <h2>احمد محمد فصيح</h2>
    </div>
    <div class="col-md-4">
      <i class="fa fa-check edit" aria-hidden="true" id="correct" title="تصحيح الامتحان" routerLink='/correctExam/5/Faseh'></i>
    </div>
    <div class="col-md-4">
      <h2>50</h2>
    </div>
  </div>
</div>