<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid" style="margin-top:16px;">
  <a href="/profile/username">
    <img src="assets/img/logo.png" width="32px" height="32px" style="margin-left: 16px;margin-bottom: 12px;background-color: #54a0b5">
    <p style="margin-top: 12px ;display:inline-block ;font-size: 32px;-webkit-text-fill-color:#54a0b5 ">mt7ny</p>
  </a>
  <i class="fa fa-user-circle" aria-hidden="true" routerLink="/profile/Muhanad" id="profileIcon" title="My profile"></i>
  <button class="btn btn-light" id="logOut">تسجيل الخروج</button>
  <hr>
</div>
<br><br><br>
<div class="container-fluid" style="margin-top:32px;">
  <div class="row">
    <div class="col-md-12" id="logIn-div">
      <h1 style="text-align: center;">تعديل الصفحة الشخصية</h1>
      <input placeholder="اسم المستخدم" class="loginIn">
      <button type="button" class="btn btn-default" id="loginBtn" routerLink='/profile/ahmed'>تعديل الاسم</button>
      <input placeholder="كلمه المرور" class="loginIn" type="password">
      <input placeholder="تأكيد كلمة المرور" class="loginIn" type="password">
      <button type="button" class="btn btn-default" id="loginBtn" routerLink='/profile/ahmed'>تعديل الصفحة الشخصية</button>
      <br> <br>
   </div>
  </div>
</div>