<body>
  <a href="">
    <img src="assets/img/logo.png" width="64px" height="64px" style="margin-left: 32px;margin-bottom: 48px;background-color: #54a0b5">
    <p style="margin-top: 32px ;display:inline-block ;font-size: 64px;-webkit-text-fill-color:#54a0b5 ">mt7ny</p>
  </a>
  <div class="container" style="margin-top:32px;">
    <div class="row">
      <div class="col-md-12" id="logIn-div">
          <h1 style="text-align: center;">تسجيل الدخول</h1>
        <input placeholder="اسم المستخدم" id="loginEmail" class="loginIn" [(ngModel)]="form.email">
        <input placeholder="كلمه المرور" id="loginPassword" class="loginIn" type="password" [(ngModel)]="form.password">
        <button type="button" class="btn btn-default" id="loginBtn" (click)="onSubmit()">تسجيل الدخول</button>
        <br> <br>
       <a href="" onclick="return false;" style="margin-top:48px;margin-bottom: 100px;text-align: left" (click)="forgetPassword()">نسيت كلمة السر ؟</a>
       <br>
       <input *ngIf ="isShown" placeholder="الايميل" id="forgotEmail" class="loginIn">
       <button *ngIf ="isShown" type="button" class="btn btn-default" id="sendEmailBtn">ارسال</button>
     </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="row">
      <div style="margin-bottom: 24px;text-align: center" class="col-md-12">
        <a href="">اتصل بنا</a>
      </div>
    </div>
  </div>
</body>