#logOut {
    float:right;
    margin-top: 20px;
}
#name {
    display:inline-block;
    margin-left: 32px;
}
#ctr {
    max-width: 700px;
    padding: 0px;
}
.edit {
    margin-left: 64px;
    font-size: 32px;
    cursor: pointer;
}
#delete:hover {
    color: red;
}
#exam-title {
    font-size: 21px;
    width: 80%;
    margin-top: 42px;
    height: 48px;
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
    position: static;
    float: none;
    width: 100%;
    border-radius: 12px;
    border-style: solid;
    border-color: whitesmoke;
}
.add {
    background-color: #343a40;
    border-width: 0px;
    border-radius: 5px;
    height: 40px;
    margin-top: 42px;
    width: 100px;
    font-size: 18px;
    -webkit-text-fill-color: white;
    max-width: 700px;
    text-align: center;
    width: 100%;
}
#edit:hover {
    color: blue;
}
#correct:hover {
    color: gold;
}
#exam-title:hover {
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
}
.add:hover {
    background-color: rgb(43, 164, 204);
    -webkit-text-fill-color: white;
}